

.css-fg4pbf{
    background-image: linear-gradient(to right, #a8ff78,#78ffd6);
}

.h1{
    color: antiquewhite;
}

.css-12ttj6m{
    border: 2px solid whitesmoke;
}

.css-16idsys p{
    color: white;
    font-size: 16px;
}

.css-5rimss{
    font-size: 15px;
    font-family: 'Lucida Sans';
    font-weight: 200;
    color: #deb887;
}

.stButton{
    color: #ff8f78;
    margin-left: 100px;
}

